@model List<Models.Framework.ProductCategory>

<div class="col-lg-3">
    <!--Category Menu Start-->
    <div class="category-menu">
        <div class="category-heading">
            <h2 class="categories-toggle"><span>CATEGORIES</span></h2>
        </div>
        <div id="cate-toggle" class="category-menu-list">
            <ul>
                @foreach (var item in Model)
                {
                    <li class="right-menu"><a href="/shopping-site/@item.MetaTitle-@item.CategoryID">@item.Name</a></li>
                }
            </ul>
            
                    @*<a href="shop-left-sidebar.html">Laptops</a>
                    <ul class="cat-mega-menu">
                        <li class="right-menu cat-mega-title">
                            <a href="shop-left-sidebar.html">Prime Video</a>
                            <ul>
                                <li><a href="#">All Videos</a></li>
                                <li><a href="#">Blouses</a></li>
                                <li><a href="#">Evening Dresses</a></li>
                                <li><a href="#">Summer Dresses</a></li>
                                <li><a href="#">T-shirts</a></li>
                                <li><a href="#">Rent or Buy</a></li>
                                <li><a href="#">Your Watchlist</a></li>
                                <li><a href="#">Watch Anywhere</a></li>
                                <li><a href="#">Getting Started</a></li>
                            </ul>*@

        </div>
    </div>
    <!--Category Menu End-->
</div>
