
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-40">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>Project</span>Topic: TECHNOW</h2>
                    <p>TECHNOW is a Technology devices and gadgets Shopping Site created by Nguyen Tien Phat, Le Dinh Dinh and Ta Duy Thanh from class 18D1-TH PM01, HCM University of Econimics and Finance</p>
                    <p>With the support of MVC 5 ASP.NET of Visual Studio and inspired modern layout by <a href="#">LIMUPA</a> Website, we expect individuals to have the most satisfied experience through our work. </p>
                    <p>Sincerely</p>
                    <span>TECHNOW Team</span>
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 col-md-10">
                <div class="about-image-wrap">
                    <img class="img-full" src="~/Assets/Client/images/logoTechNow.png"  />
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- about wrapper end -->

<!-- Counterup Area End Here -->
<!-- team area wrapper start -->
<div class="team-area pt-60 pt-sm-44">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="li-section-title capitalize mb-25">
                    <h2><span>our team</span></h2>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/Assets/Client/images/about-us/64319674_1201773346660536_8006702132264697856_n.jpg"style="height:270px" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Nguyen Tien Phat</h3>
                        <p>Back-end</p>
                        <a href="#">185050457</a>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/Assets/Client/images/about-us/33865966_853188141557499_6450189727743082496_n.jpg"  alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Le Dinh Dinh</h3>
                        <p>Front-end</p>
                        <a href="#">185050660</a>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-30 mb-sm-60">
                    <div class="team-thumb">
                        <img src="~/Assets/Client/images/about-us/40100080_937095169810707_2010469398074097664_n.jpg" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Ta Duy Thanh</h3>
                        <p>Back-End</p>
                        <a href="#">185050143</a>
                    </div>
                </div>
            </div> <!-- end single team member -->

        </div>
    </div>
</div>
<!-- team area wrapper end -->
<!-- Begin Footer Area -->
